# Dependencies
node_modules

# Build output
.next
out
build
dist

# Cache
.cache
.turbo

# Environment variables
.env
.env*.local

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode
.idea

# Misc
*.tsbuildinfo
next-env.d.ts
schema.json

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml
